site_name: ERA Software
site_description: Open-source tools for uncertainty quantification and decision-making in engineering risk analysis
site_url: https://era-software.github.io/

repo_name: ERA-Software
repo_url: https://github.com/ERA-Software
edit_uri: edit/main/src_docs/

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.indexes
    - navigation.sections
    - navigation.top
    - toc.follow
    - content.action.edit
    - content.code.copy
    - search.suggest
    - search.highlight
  icon:
    repo: fontawesome/brands/github

nav:
  - Home: index.md
  - Software: software.md
  - Contributor guidelines: contributor-guidelines.md
  # - Contributing: contributing.md
  # - Governance: governance.md

markdown_extensions:
  - meta
  - admonition
  - attr_list
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_css:
  - stylesheets/extra.css

plugins:
  - search

docs_dir: src_docs
site_dir: docs